@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|VT323');

.containerCLass {
    text-align: center
}

.colorId {
    font-family: 'Press Start 2P', cursive;
    color: rgb(255,255,255); 
    margin: 15px 
}

.colorId.dark {
    color: rgb(0,0,0); 
}

input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    /*fix for FF unable to apply focus style bug */
    border: 6px solid rgb(255, 255, 255);
    /*required for proper track sizing in FF*/
    width: 300px;
    cursor: move;
    border-radius: 4px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: rgb(221, 221, 221);
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background:rgb(136, 136, 136);
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgb(204, 204, 204);
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: rgb(221, 221, 221);
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: hsl(0, 0%, 53%);
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}

input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}

input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background:#888;
}

input[type=range]:focus::-ms-fill-lower {
    background: #888;
}

input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
} 

@media only screen and (max-width : 571px) {
    input[type=range] {
        width: 150px;
    }
}